.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
}

.slide-show-heading {
    display: flex;
    margin-bottom: 50px;
}

.slide-show-heading > h2 {
  background-color: black;
  color: white;
  padding: 0px 10px;
}

.warning {
  background-color: black;
  color: white;
  padding: 0px 10px;
  display: inline-block;
}

.draw-button {
    height: 30px;  
    margin-left: 20px; 
}

.create-meme-button {
    height: 40px;
}

/* arrows */
img.backButton {
    width: 50px;
    height: 50px;
  }
  
  img.backButton:hover {
    cursor: pointer;
  }
  
  img.nextButton {
    width: 50px;
    height: 50px;
  }
    
  img.nextButton:hover {
    cursor: pointer;
  }

.button-group {
    display: none;
}

.draw-panel {
    display: none;
}

.template-overview {
  display: none;
}

.flex-overview{
  height: 200px;
  overflow-y: scroll;
}

.flex-img{
  height: 180px;
  margin: 5px;
  border: 2px solid black;
}