.navigation-buttons {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-bottom: 20px;
}

.slide-show-heading {
    display: flex;
    margin-bottom: 50px;
}

.draw-button {
    height: 30px;  
    margin-left: 20px; 
}

.create-meme-button {
    height: 40px;
}

/* arrows */
img.backButton {
    width: 50px;
    height: 50px;
  }
  
  img.backButton:hover {
    cursor: pointer;
  }
  
  img.nextButton {
    width: 50px;
    height: 50px;
  }
    
  img.nextButton:hover {
    cursor: pointer;
  }

.meme-wrapper {
    width: 600px;
    border: 1px solid black;
    padding: 5px;
  }
  
  img {
      max-width: 100%;
  }
  
.top-and-bottom-wrapper {
    position: relative;
}

  .topOut {
      position: absolute;
      transform: translateX(-100%);
      font-size: 18px;
      color: white;
      text-shadow: 0 0 2px rgb(8, 8, 8);
  }
  
  .bottomOut {
      position: absolute;
      transform: translateX(-100%);
      font-size: 18px;
      color: white;
      text-shadow: 0 0 2px rgb(8, 8, 8);
  }

.button-group {
    display: none;
}

.draw-panel {
    display: none;
}